<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-right m-2" data-toggle="modal"
 data-target="#exampleModal"
 (click)="addClick()" data-backgroup="static" data-keyboard="false">
  Add department
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clocseClick()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-edit-dep [dep]="dep" *ngId="ActivateAddEditDepComp"></app-add-edit-dep>
      </div>
    </div>
  </div>
</div>




<table class="table table-striped">
    <thead>
        <th>DepartmentID</th>
        <th>DepartmentName</th>
        <th>Options</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of DepartmentList">
            <td>{{item.DepartmentId}}</td>
            <td>{{item.DepartmentName}}</td>
            <td>
                <button type="button" class="m-1 btn btn-light btn-outline-primary">Edit</button>
                <button type="button" class="m-1 btn btn-light btn-outline-primary">Del</button>
            </td>
        </tr>
    </tbody>
</table>